In [1]:
import pandas as pd

In [3]:
dfneiwang=pd.read_excel('neiwang.xlsx')

In [4]:
dfyinhang=pd.read_excel('yinhang.xlsx')

In [6]:
df=pd.merge(dfyinhang,dfneiwang,on='银行设备编号',how='left')

In [7]:
df

           银行设备编号  通讯故障 服务工程师              网点
0    220050300200  0.01    吕行  建行吉林分行长春锦程大街支行
1    220050300204  0.01   NaN             NaN
2    220050300207  0.00   NaN             NaN
3    220050300210  0.00   刘东亮   建行吉林分行长春蔚山路支行
4    220050300210  0.00   刘东亮   建行吉林分行长春蔚山路支行
..            ...   ...   ...             ...
159  220050300630  0.37   芦洪武   建行吉林分行长春卫明街自助
160  220050300631  2.18   芦洪武   建行吉林分行长春卫明街自助
161  220050300631  2.18   刘东亮   建行吉林分行长春卫明街自助
162  220050300631  2.18   芦洪武   建行吉林分行长春卫明街自助
163  220050300636  0.04   NaN             NaN

[164 rows x 4 columns]

In [8]:
df.to_excel('merge.xlsx')